.icon-wrap{
  position: relative;
  display: none;
}

.nav-icon {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  // display: inline-block;
}

.nav-icon span {
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms
}

.nav-icon span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.nav-icon span:nth-child(2) {
  top: 13px;
  left: 0px;
  opacity: 1;
}

.nav-icon span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.nav-icon:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.nav-icon:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.nav-icon:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.nav-icon.open span:nth-child(2) {
  opacity: 0;
}

.nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

.burger-block{
  width: 100%;
  position: absolute;
  left: -105px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;

}
.burger-nav{
  border-radius: 10px;
  background: linear-gradient(45deg, rgba(251, 2, 117, 0.75) 0%, rgba(126, 55, 186, 1) 100%);
  transition: .5s;
  transform-origin:  right top ;
  transform: scaleX(0) translateX(50%);
  opacity: 0;
  padding: 10px;
  width: 260px;
  &__link{
    line-height: 62px;
    display: block;
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: 25px;
    font-family: 'Muller', sans-serif;
  }
}
.burger-nav_active{
  transform: scaleX(1) translateX(0%);
  opacity: 1;
}

