.comment {
  padding: 100px 0 120px 0;
  .title {
    padding-left: 20px;
    font-family: 'Muller', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #7f38bd;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    margin: 45px 0px 30px 0px ;
    padding: 0;
  }

  &__block {
    display: flex;
    align-items: center;
    // width: 800px;
    // height: 264px;
    box-shadow: 0px 0px 10px 0px rgba(81, 8, 86, 0.08);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 50px 50px 50px 53px;
    margin: 0px 10px 0px 10px;



  }
  &__slider {
    max-width: 710px;
    position: relative;
  }
  &__photo {
    display: block;
    margin: 0;

  }

  &__description {
    margin-left: 40px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  &__name {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 30.1px;
  }

  &__social-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 30.1px;
  }
  a {
    color: #3594dd;
  }
}
.slider-arrow-prev{
  position: absolute;
  bottom: -40px;
  left: 6px;
  z-index: 3;
  cursor: pointer;
}

.slider-arrow-next{
  position: absolute;
  bottom: -40px;
  left: 140px;
  cursor: pointer;
}