.map {
  position: relative;
  height: 650px;
  &-block {
    position: absolute;
    width: 260px;
    box-shadow: 0 23px 32px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 88px 102px 118px 88px;
    top: 150px;
    left: 1.5%;

    &__contacts {
      padding-left: 26px;
      color: #5e606a;
      margin-top: 30px;
    }

    &__address {
      position: relative;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      &::before {
        content: '';
        position: absolute;
        width: 11px;
        height: 17px;
        background-image: url('../images/contacts/1.svg');
        left: -24px;
        top: 21px;

      }
    }
    &__mail {
      padding-top: 20px;
      position: relative;
      font-size: 14px;
      font-weight: 400;
      color: #5e606a;
      &::before {
        content: '';
        position: absolute;
        width: 13px;
        height: 10px;
        background-image: url('../images/contacts/2.svg');
        left: -24px;
      }
    }

    &__phone {
      position: relative;
      display: block;
      margin-top: 20px;
      color: #5e606a;
      font-size: 14px;
      font-weight: 400;
      &::before {
        content: '';
        position: absolute;
        width: 14px;
        height: 15px;
        background-image: url('../images/contacts/3.svg');
        left: -24px;
      }
    }
  }
}
